.bt-export-ajax-field-instance-container .form-item-field-instance-import-amount{
	float: left;
	width: auto;
	padding-right: 15px;
	margin-top: -5px;
}

.bt-export-ajax-field-instance-container .bt-export-field-instance-import-status{
	float: left;
	width: 300px;
	margin-top: 3px;
}
.bt-export-ajax-field-instance-container .form-item-field-instance-import-amount label{
	float:left;
}

.bt-export-ajax-field-instance-container .form-item-field-instance-import-amount form-text{
	float:right;
}

.bt-export-ajax-field-instance-container .bt-import-ajax-data{
	float:left;
}

.bt-export-ajax-field-instance-container{
	float: left;
	width: 100%;
}

.vertical-tabs .form-type-textfield input {
width: auto !important;
}